<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
      </header>
      <section class="modal-card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet dictum sit amet. Sed elementum tempus egestas sed sed risus pretium quam. Id venenatis a condimentum vitae. Ultricies tristique nulla aliquet enim. Massa placerat duis ultricies lacus sed turpis tincidunt. Bibendum enim facilisis gravida neque convallis a cras. Praesent elementum facilisis leo vel fringilla est. Vitae aliquet nec ullamcorper sit amet risus. Eu nisl nunc mi ipsum. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Mauris nunc congue nisi vitae suscipit tellus mauris a diam. Gravida quis blandit turpis cursus in hac. Accumsan lacus vel facilisis volutpat est velit egestas. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Sapien nec sagittis aliquam malesuada. Leo a diam sollicitudin tempor id eu.</p>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button" onclick="closeModal()">Cancel</button>
      </footer>
    </div>
  </div>